@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Open+Sans:ital@1&family=Rubik:ital,wght@1,300&display=swap");
* {
  font-family: "Rubik", sans-serif;
}
img {
  width: 8vw;
  border-radius: 300px;

  margin: auto;
}
#upload i {
  background-color: #ffffff;
  border-radius: 100px;
  padding: 5px;
  border: 2px solid #bac0d7;
  font-size: 12px;
}
#upload i:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: #41b983;
  border: 2px solid #41b983;
}
#upload {
  margin-top: -3vh;
  margin-left: -3vw;
}
#file {
  display: none;
}
body {
  text-align: center;
  overflow: hidden;
  background-color: #f0f0f0;
}
.container h1 {
  color: #4b5b7c;
  font-size: 30px;
}
.container p {
  color: #bac0d7;
  font-size: 15px;
}
.container p span {
  font-weight: 600;
}
.profile i {
  margin-left: -30px;
  background-color: #ffffff;
  border-radius: 100px;
  padding: 5px;
  border: 2px solid #bac0d7;
  font-size: 1vw;
}
.profile i:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: #41b983;
  border: 2px solid #41b983;
}
.label {
  color: #bac0d7;
  font-size: 15px;
}
.container h2 {
  color: #4b5b7c;
  font-size: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  width: 50vw;
  margin: auto;
  border-radius: 15px;
}
.form input {
  width: 30vw;
  height: 3vh;
  margin-top: 5px;
  border-radius: 10px;
  border: 1px solid #bac0d7;
  -webkit-box-shadow: 5px 5px 21px -15px #bac0d7;
  box-shadow: 5px 5px 21px -15px #bac0d7;
  padding: 5px;
  outline: none;
}
.form input::placeholder {
  color: #bac0d7;
}
.form input:focus {
  border: 1px solid #4b5b7c;
  -webkit-box-shadow: 5px 5px 21px -15px #4b5b7c;
  box-shadow: 5px 5px 21px -15px #4b5b7c;
}
.submit {
  margin-top: 50px;
  background-color: #ffffff;
  width: 45vw;
  height: 12vh;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit button,
.submit a {
  margin: 5vw;
  width: 18vw;
  height: 8vh;
  border-radius: 60px;
  border: none;
}
#continue {
  background-color: #41b983;
  color: #ffffff;
}
#back {
  background-color: #f0f0f0;
  text-decoration: none;
  color: #4b5b7c;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.form input:hover {
  border: 1px solid #41b983;
}
#continue:hover {
  -webkit-box-shadow: 5px 5px 14px -2px #c4dfd4;
  box-shadow: 5px 5px 14px -2px #c4dfd4;
  cursor: pointer;
}
#back:hover {
  -webkit-box-shadow: 5px 5px 14px -2px #c4dfd4;
  box-shadow: 5px 5px 14px -2px #c4dfd4;
  cursor: pointer;
}

@media (max-width: 800px) {
  img {
    width: 15vw;
  }
  .profile i {
    font-size: 10px;
  }
  .form input {
    width: 50vw;
  }
  .container h1 {
    margin-top: 2px;
  }
  .submit {
    width: 90vw;
    margin-top: 5px;
    transform: translate(-20%);
  }
  .submit button,
  #back {
    width: 35vw;
  }
  .container p {
    margin-top: 2px;
  }
  .profile {
    margin-top: 2px;
  }
  body {
    background-color: #ffffff;
  }
}
@media (max-height: 500px) {
  body {
    overflow-y: scroll;
  }
}
