@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Open+Sans:ital@1&family=Rubik:ital,wght@1,300&display=swap");
* {
  font-family: "Rubik", sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 17vw);
  grid-template-rows: repeat(7, 5vh);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  align-items: center;
  justify-content: center;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.div3 {
  grid-area: 2 / 1 / 3 / 3;
}
.div4 {
  grid-area: 3 / 1 / 4 / 2;
}
.div5 {
  grid-area: 3 / 2 / 4 / 3;
}
.div6 {
  grid-area: 4 / 1 / 5 / 2;
}
.div7 {
  grid-area: 4 / 2 / 5 / 3;
}
.div8 {
  grid-area: 5 / 1 / 6 / 2;
}
.div9 {
  grid-area: 5 / 2 / 6 / 3;
}
.div10 {
  grid-area: 6 / 1 / 7 / 2;
}
.div11 {
  grid-area: 6 / 2 / 7 / 3;
}
body {
  text-align: center;
  overflow: hidden;
  background-color: #f0f0f0;
}
.container h1 {
  color: #4b5b7c;
  font-size: 30px;
}
.form input::placeholder {
  color: #bac0d7;
}
.form input {
  width: 15vw;
  height: 3vh;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #bac0d7;
  -webkit-box-shadow: 5px 5px 21px -15px #bac0d7;
  box-shadow: 5px 5px 21px -15px #bac0d7;
  padding: 5px;
  outline: none;
}
.form input:hover {
  border: 1px solid #41b983;
}
.form input:focus {
  border: 1px solid #4b5b7c;
  -webkit-box-shadow: 5px 5px 21px -15px #4b5b7c;
  box-shadow: 5px 5px 21px -15px #4b5b7c;
}
.submit {
  margin-top: 50px;
  background-color: #ffffff;
  width: 45vw;
  height: 12vh;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.submit button,
.submit a {
  margin: 5vw;
  width: 18vw;
  height: 8vh;
  border-radius: 60px;
  border: none;
}
#continue {
  background-color: #41b983;
  color: #ffffff;
}
#back {
  background-color: #f0f0f0;
  text-decoration: none;
  color: #4b5b7c;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.form input:hover {
  border: 1px solid #41b983;
}
#continue:hover {
  -webkit-box-shadow: 5px 5px 14px -2px #c4dfd4;
  box-shadow: 5px 5px 14px -2px #c4dfd4;
  cursor: pointer;
}
#back:hover {
  -webkit-box-shadow: 5px 5px 14px -2px #c4dfd4;
  box-shadow: 5px 5px 14px -2px #c4dfd4;
  cursor: pointer;
}
.container h1 {
  color: #4b5b7c;
  font-size: 30px;
}
.dates {
  display: flex;
  flex-direction: row;
}
@media (max-width: 800px) {
  .submit {
    width: 90vw;
    margin-top: 5px;
  }
  .submit button,
  #back {
    width: 35vw;
  }
  .form input {
    width: 35vw;
  }
  .grid {
    grid-template-columns: 40vw;
  }
}
